<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabPerfil">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
      <ion-badge *ngIf="PerfilNotifications > 0" color="danger">{{PerfilNotifications}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="tabJogos">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Jogos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabPartidas">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Partidas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabMarcador">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
