<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
      <ion-title>Jogos</ion-title>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar class="tab-bar-sub" color="light">
    <ion-tab-button class="subtitle" layout="icon-start">
      <ion-icon name="people"></ion-icon>
      <ion-label>Jogos de Amigos</ion-label>
    </ion-tab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/user.svg">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <ion-text color="dark"><h3>Rafael Benedetti</h3></ion-text>
        <p>Truco Gauderio</p>
      </ion-label>
      
      <ion-button color="tertiary" fill="clear">
        <ion-icon size="large" name="star-outline" color="tertiary"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      É jogado com o baralho espanhol de 50 cartas, mas as cartas 8 e 9, além dos curingas são removidas,
      somando um total de apenas 40 cartas (10 de cada naipe).
    </ion-card-content>

    
    <ion-card-content>
      <ion-button size="small" fill="outline" slot="end">Ver Regras</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/user.svg">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <ion-text color="dark"><h3>Ediane Benedetti</h3></ion-text>
        <p>Truco Gauderio</p>
        
      </ion-label>
      
      <ion-button color="tertiary" fill="clear">
        <ion-icon size="large" name="star-outline" color="tertiary"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      É jogado com o baralho espanhol de 50 cartas, mas as cartas 8 e 9, além dos curingas são removidas,
      somando um total de apenas 40 cartas (10 de cada naipe).
    </ion-card-content>

    
    <ion-card-content>
      <ion-button size="small" fill="outline" slot="end">Ver Regras</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/img/user.svg">
      </ion-avatar>

      <ion-label class="ion-text-wrap">
        <ion-text color="dark"><h3>Claudemir Melo</h3></ion-text>
        <p>Truco Gauderio</p>
      </ion-label>
      
      <ion-button color="tertiary" fill="clear">
        <ion-icon size="large" name="star-outline" color="tertiary"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card-content>
      É jogado com o baralho espanhol de 50 cartas, mas as cartas 8 e 9, além dos curingas são removidas,
      somando um total de apenas 40 cartas (10 de cada naipe).
    </ion-card-content>

    <ion-card-content>
      <ion-button size="small" fill="outline" slot="end">Ver Regras</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>